.StateChangeReduxHeading h1{
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}
.StateChangeReduxHeading h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.quantity-btn-container h1{
    font-size: 18px;
}
