.state-change-container .sub-container{
    width:25%;
    height: 60vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.state-change-container .sub-container h1{
    font-size: 30px;
    margin-bottom: 16px;
}
.state-change-container .btn-container{
    display: flex;
    align-items: center;
}
.state-change-container .btn-container button{
    margin-top: 30px;
   
}